.container {
  background: rgba(197, 206, 205, 0.825);
  position: absolute;
  width: 70%;
  height: 75%;
  top: 15%;
  left: 15%;
  padding: 3%;
  border-radius: 5px;
}

.form1 {
  display: flex;
}
.form2 {
  display: flex;
}
.form3 {
  display: flex;
}
.form4 {
  display: flex;
}
.form5 {
  display: flex;
}

.form-group {
  margin-left: 5%;
  width: 30rem;
  height: 3rem;
}
.form-groups {
  width: 50rem;
  height: 3rem;
  margin-left: 7%;
}
.form-groupss {
  width: 22rem;
  height: 3rem;
}

input {
  color: blue;
  width: 80%;
  height: 80%;
  border: 2px;
  border-radius: 5%;
}

::placeholder {
  text-align: center;
}

.form-btn {
  float: right;
}
button {
  height: 1.7rem;
  width: 8rem;
  border-radius: 5%;
  background-color: rgb(84, 230, 103);
  color: white;
  border-color: black;
}
h2 {
  text-align: center;
}
