<mat-card class="card">
    <div class="row">
        <div  class="col justify-content-center" *ngIf="course">
           <div class="text-center">
              <h3 style="text-align:left;float:left;"><strong>Course name : </strong></h3> <h4 style="text-align:right;float:right;">{{course.courseName}}</h4><hr style="clear:both;"/>
              <h3 style="text-align:left;float:left;"><strong> Duration : </strong></h3> <h4 style="text-align:right;float:right;">{{course.courseDuration}}</h4><hr style="clear:both;"/>
              <h3 style="text-align:left;float:left;"><strong>Course Timing : </strong></h3> <h4 style="text-align:right;float:right;">{{course.courseTiming}}</h4><hr style="clear:both;"/>
              <h3 style="text-align:left;float:left;"><strong>No Of Students : </strong></h3> <h4 style="text-align:right;float:right;">{{course.noStudent}}</h4><hr style="clear:both;"/>
              <h3 style="text-align:center;float:center;"><strong>Description : </strong></h3> <h4 class="justify-content"  style="text-align:center;float:right;">{{course.courseDis}}</h4><hr style="clear:both;"/>
            </div>
            <div>
                <button class="edit btn-success btn-sm">Edit Course</button>
                <button class=" btn-success btn-sm">Delete Course</button>
            </div>
        </div>
    </div>
</mat-card>