.row {
  display: inline-block;
}

.alignment {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 15px;
}

.card {
  background-color: rgb(207, 204, 204);
  padding-top: 5px;
  width: 380px;
  height: 250px;
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn {
  margin-bottom: 5px;
  margin-top: 2px;
}

.edit {
  width: 120px;
  margin-right: 15px;
}

.delete {
  margin-left: 30px;
}
