*{
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
}
.field 
{
    height: 35px;
    margin-bottom: 15px;
    margin-left: 10px;
}
  
.input 
{
    height: 35px;
    width: 230px;
}

.btn 
{
    margin-left: 130px;
}

.card
{
    margin-top:8%;
    margin-left:auto;
    margin-right:auto;
    width: 400px;
    background-color:white;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    padding-left: 115px;
    padding-bottom: 12px;
  }
  .bg{
    width: 100%;
    height:100%;
    justify-content:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    
}