.field 
{
    height: 35px;
    margin-bottom: 15px;
    margin-left: 65px;
}
  
.input 
{
    height: 35px;
    width: 230px;
}

.btn 
{
    margin-left: 130px;
}

.card
{
    
    width: 400px;
    margin-top: 150px;
    margin-left: 500px;
    background-color:#e6e6e6;
}

.title {
    padding-left: 135px;
    padding-bottom: 10px;
  }