.card {
  width: 400px;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
}

.field {
  height: 35px;
  margin-bottom: 15px;
  margin-left: 65px;
}

.input {
  height: 35px;
  width: 230px;
}

.title {
  padding-left: 90px;
  padding-bottom: 10px;
}

.btn {
  margin-left: 110px;
}
