<mat-card class="card">
  <mat-card-title class="title">EDIT INSTITUTE</mat-card-title>
  <form class="forms" [formGroup]="editinstituteForm">
    <div class="field">
      <input
        [(ngModel)]="formData.name"
        class="input form-control"
        id="name"
        type="text"
        formControlName="name"
        placeholder="Enter Institute Name"
      />
      <small *ngIf="!editinstituteForm.get('name').valid && editinstituteForm.get('name').touched"
            style="color:red;margin-left:2px">* Invalid Institute Name</small>
    </div><br>

    <div class="field">
      <input
      [(ngModel)]="formData.imageUrl"
        class="input form-control"
        id="imageUrl"
        type="url"
        formControlName="imageUrl"
        placeholder="Enter Image Url"
      />
      <small *ngIf="!editinstituteForm.get('imageUrl').valid && editinstituteForm.get('imageUrl').touched"
            style="color:red;margin-left:2px">* Invalid Image URL</small>
    </div><br>

    <div class="field">
      <input
      [(ngModel)]="formData.location"
        class="input form-control"
        id="location"
        type="text"
        formControlName="location"
        placeholder="Enter Location"
      />
      <small *ngIf="!editinstituteForm.get('location').valid && editinstituteForm.get('location').touched"
            style="color:red;margin-left:2px">* Invalid Location</small>
    </div><br>

    <div class="field">
      <input
      [(ngModel)]="formData.phone"
        class="input form-control"
        id="phone"
        type="text"
        formControlName="phone"
        placeholder="Enter Institute Phone"
      />
      <small *ngIf="!editinstituteForm.get('phone').valid && editinstituteForm.get('phone').touched"
            style="color:red;margin-left:2px">* Invalid Phone number</small>
    </div><br>

    <div class="field">
      <textarea
      [(ngModel)]="formData.description"
        class="input form-control"
        id="description"
        type="text"
        fornControlName="description"
        placeholder="Enter Description"
      ></textarea>
      <small *ngIf="!editinstituteForm.get('description').valid && editinstituteForm.get('description').touched"
            style="color:red;margin-left:2px">* Invalid Description</small>
    </div><br>

    <div>
      <button (click)="editInst()" class="btn btn-primary" type="submit">EDIT INSTITUTE</button>
    </div>
  </form>
</mat-card>
