<div>
<img src="https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" style="background-repeat:no-repeat;background-size: cover;background-position:center;width:100%;background-attachment: fixed;">
<div class="card text-white bg-dark text-center" style="width:30%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
    <div class="card-body mt-4">
      <h5 class="card-title">New to this page?</h5>
      <p class="card-text">Enter your personal details and start journey with us !</p>
      <a href="#" class="btn btn-primary">Sign up</a>
    </div>
    <div class="card-body mt-3 mb-4"> 
      <h5 class="card-title">Already a user?</h5>
      <p class="card-text">Enter your credentials to start using your account.</p>
      <a href="#" class="btn btn-success">Login</a>
      <br>
    </div>
</div>
</div>