<mat-card class="card">
    <mat-card-title class="title">EDIT COURSE </mat-card-title>
<form [formGroup] = 'editcourseForm'>
    <div class="field">
        <input class="input" type="text" formControlName = "courseName" placeholder = "courseName">
    </div>
    <div class="field">
        <input class="input" type="text" formControlName = "courseDuration" placeholder = "courseDuration">
    </div>
    <div class="field">
        <input class="input" type="text" formControlName = "courseTiming" placeholder = "courseTiming">
    </div>
    <div class="field">
        <input class="input" type="text" formControlName = "noStudent" placeholder = "noOfStudent">
    </div>
    <div class="field">
        <textarea class="input" type="text" formControlName = "description" placeholder = "Description"></textarea>
    </div>
    <div>
        <button class="btn btn-success">Update Course</button>
    </div>
</form>
</mat-card>
