<div class="bg"></div>
<div class="card">
    <div class="title text-center mt-3 mb-2">EDIT COURSE</div>
    <form>
    <div class="field">
        <input class="input form-control" type="text" formControlName = "courseName" placeholder = "Enter Course Name">
    </div>
    <div class="field">
        <input class="input form-control" type="text" formControlName = "courseDuration" placeholder = "Enter Course Duration">
    </div>
    <div class="field">
        <input class="input form-control" type="text" formControlName = "courseTiming" placeholder = "Enter Course Timing">
    </div>
    <div class="field">
        <input class="input form-control" type="text" formControlName = "noStudent" placeholder = "Enter No of Students">
    </div>
    <div class="field">
        <textarea class="input form-control" type="text" formControlName = "description" placeholder = "Enter Description"></textarea>
    </div>
    <div>
        <button class="btn btn-success">Update Course</button>
        <div><br></div>
    </div>
</form>
</div>
