<body>
    <div class="container">
    <form>
      <h2>Add Student</h2>
      <div class="form1">
       <div class="form-group">
       <input type="text" name="FirstName" id="FirstName" placeholder="Enter your First Name" minlength="3" required>
       </div>

       <div class="form-group">
       <input type="text" name="LastName" id="LastName" placeholder="Enter your Last Name" required>
       </div>

       <div class="form-group">
       <input type="text" name="Male/Female" id="Male/Female" placeholder="Enter your gender" required>
       </div>
      </div>


      <div class="form2">
        <div class="form-group">
        <input type="text" name="FatherName" id="FatherName" placeholder="Enter your Father Name" required>
        </div>

        <div class="form-group">
        <input  name="PhoneNumber" id="PhoneNumber" placeholder="Enter Phone Number" pattern=".{10}" required>
        </div>

        <div class="form-group">
        <input type="tel" name="AlternateNumber" id="AlternateNumber" placeholder="Enter Alternate Number" pattern=".{10}" required>
        </div>
      </div>


      <div class="form3">
        <div class="form-group">
        <input type="text" name="MotherName" id="MotherName" placeholder="Enter your Mother Name" required>
        </div>

        <div class="form-group">
        <input type="email" name="Email" id="Email" placeholder="Enter your Email-id" required>
        </div>

        <div class="form-group">
        <input type="number" name="Age" id="Age" placeholder="Enter your age" required>
        </div>
      </div>

      <div class="form4">
        <div class="form-groups">
         <input type="text" name="Address" id="Address" placeholder="Enter your Address" required>
        </div>

        <div class="form-groupss">
          <input type="text" name="City" id="City" placeholder="Enter your City" required>
        </div>
      </div>

      <div class="form5">
        <div class="form-group">
        <input  name="Pincode" id="Pincode" placeholder="Enter your Pincode" minlength="6" required>
        </div>

        <div class="form-group">
        <input type="text" name="State" id="State" placeholder="Enter your State" required>
        </div>

        <div class="form-group">
        <input type="text" name="Nationality" id="Nationality" placeholder="Enter your Nationality" required>
        </div>
      </div>

      <div class="form-btn">
         <button>Add Student</button>
      </div>
    </form>
  </div>  
</body>

