body{
    height: 100vh;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    background-repeat: no-repeat;
}

.container {
    background: linear-gradient(180deg, #aaabaf 0%, rgba(147, 149, 151, 0.44) 33.33%, rgba(94, 94, 96, 0.33) 75%, rgba(51, 52, 53, 0.2) 100%);
    position: absolute;
    width: 30%;
    height: 60%;
    top: 20%;
    left: 35%;
    padding-top: 4%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
  }

  h2{
    text-align: center;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
  }
  input{
    color: rgb(0, 0, 1);
    width: 80%;
    height: 80%;
    border: 0.5%;
    border-radius: 5%;
    text-align: center;
    font-size: 1.3vw;
  }
  .form-group {
    margin-left: 2%;
    width: 125%;
    height: 23%;
    
  }

  button{
    height: 1.7rem;
    width: 32%;
    border-radius: 5%;
    background-color: rgb(55, 55, 58);
    color: white;
    border-color: rgb(208, 202, 202);
    float: center;
    margin-left: 35%;
    margin-bottom: 5%;
 }
 p{
    text-align: center;
    margin-bottom: 1%;
}
a{
    text-align: center;
    color: #07114d;
}
