.row {
  display: inline-block;
}

.card
{ 
display:inline-block;
width: 400px;
margin-top: 150px;
margin-left: 35px;
background-color: #e6e6e6;
}


h4{
margin-right: 2rem;
}

.btn
{
  margin-left: 8rem;
}