<div class="bg"></div>
<mat-card class="card">
  <mat-card-title class="title ml-2">SIGN UP</mat-card-title>
  <form class="forms" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <select class="custom-select field" formControlName="role">
      <option *ngFor="let role of Roles" [ngValue]="role.id">
        {{ role.value }}
      </option>
    </select>
    <div class="field">
      <input
        class="input form-control"
        id="name"
        type="text"
        formControlName="name"
        placeholder="Enter Username"
      />
    </div>

    <div class="field">
      <input
        class="input form-control"
        id="email"
        type="email"
        formControlName="email"
        placeholder="Enter Email"
      />
    </div>

    <div class="field">
      <input
        class="input form-control"
        id="phone"
        type="phone"
        formControlName="phone"
        placeholder="Enter Phone Number"
      />
    </div>

    <div class="field">
      <input
        class="input form-control"
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter Password"
      />
    </div>

    <button class="btn btn-info" type="submit">SignUp</button>
  </form>
</mat-card>
