<div class="bg"></div>
<mat-card class="card">
  <mat-card-title class="title ml-2">SIGN UP</mat-card-title>
  <form [formGroup]="registerForm" #ngForm="ngForm">
    <!-- <select class="custom-select field" formControlName="role">
      <option *ngFor="let role of Roles" [ngValue]="role.id">
        {{ role.value }}
      </option>
    </select> -->
    <div class="field">
      <input
        formControlName="name"
        class="input form-control"
        id="name"
        name="name"
        type="text"
        [(ngModel)]="formData.name"
        placeholder="Enter Username"
      />
      <small *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched" class="text-danger">Invalid Name</small> 
    </div>

    <div class="field">
      <input
        formControlName="email"
        class="input form-control"
        id="email"
        name="email"
        type="email"
        [(ngModel)]="formData.email"
        placeholder="Enter Email"
      />
      <small *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched" class="text-danger">Invalid Email ID</small> 
    </div>

    <div class="field">
      <input
        formControlName="phone"
        class="input form-control"
        id="phone"
        name="phone"
        type="phone"
        [(ngModel)]="formData.phone"
        placeholder="Enter Phone Number"
      />
      <small *ngIf="!registerForm.get('phone').valid && registerForm.get('phone').touched" class="text-danger">Invalid Phone Number</small> 
    </div>

    <div class="field">
      <input
        formControlName="password"
        class="input form-control"
        id="password"
        name="password"
        type="password"
        [(ngModel)]="formData.password"
        placeholder="Enter Password"
      />
      <small *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched" class="text-danger">Invalid Password</small> 
    </div>

    <button (click)="signUp()" class="btn btn-info" type="submit">SignUp</button>
  </form>
</mat-card>
