.card {
  width: 400px;
  margin-top: 150px;
  margin-left: 500px;
}

.field {
  height: 35px;
  margin-bottom: 15px;
  margin-left: 65px;
}

.input {
  height: 35px;
  width: 230px;
}

.title {
  padding-left: 95px;
  padding-bottom: 10px;
}

.btn {
  margin-left: 115px;
}
